/*
Verde : #7aa44a
Lila: #b685c6
Celeste : #36a4d3
Rosa : #ef66b9
Mostaza : #a38321
Gris claro : #dbdbdb
Gris modal fondo : #edecec
Gris oscuro letra: #ba5e49
Gris iconos : #646464
Rojo : #e84848
*/

*{
	margin: 0 auto;
	padding: 0;

}

.titulo{
	margin:20px;
	color:#e84848;
	text-align: center;
}


.pokedex{
	border-top: 4px solid #36a4d3;
	background-color:  #edecec;
	text-align: center;
}
img{
	height: 150px;
	width: 150px;
	background-color: #dbdbdb;
	margin-right: 100px;
	text-align: center;
	margin-bottom: 40px;
}
.pokemon{
	text-align: center;
}