/*
Verde : #7aa44a
Lila: #b685c6
Celeste : #36a4d3
Rosa : #ef66b9
Mostaza : #a38321
Gris claro : #dbdbdb
Gris modal fondo : #edecec
Gris oscuro letra: #ba5e49
Gris iconos : #646464
Rojo : #e84848
*/

*{
	margin: 0 auto;
	padding: 0;
}

.titulo{
	color:#e84848;
	text-align: center;
}


/*Modal*/
#box-work-modal{ /* fondo del modal cuadro donde va la imagen*/
  background-color: rgba(240,30,80,0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#box-work-modal .modal-body{   /*ajustes de la imagen dentro del modal*/
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 100px;

  /*position: fixed;*/
}

#box-work-modal .modal-body h5{ /*tamaño y color letra h5*/
  font-size: 2em;
  color: whitesmoke;
}
#box-work-modal .modal-body h6{/* tamaño y color letra h6*/
  font-size: 1em;
  color: whitesmoke;
}

#box-work-modal .close{ /*tamaño close? y de puntero a mano*/
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#box-work-modal .close img{ /*tamaño x close*/
  width: 60px;
  border: none;
}
#box-work-modal img{ /*tamaño imagen dentro del modal.. si!*/
  width: 600px;
  border: whitesmoke 20px solid;
}
.hide{ /* ocultar??*/
  display: none;
}
